*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: rgb(32, 65, 95);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 240px;
    padding-right: 480px;
}


h1{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 500;
}


.imagem{
    border-radius: 40px;
    width: 500px;

    
}
.container-imagem{
    display: flex;
    justify-content: center;


}
body{
    background-color: yellowgreen;
}

/* div p{

        margin-block-end: 50;
    }
} */

