*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 240px;
    padding-right: 480px;
}


h1{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 500;
}


.imagem{
    width: 500px;

    
}
.container-imagem{
    display: flex;
    justify-content: center;


}
body{
    background-color: rgba(201, 218, 235, 0.479);
}

div{
    p{
        margin-block-end: 10;
    }
}

